<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>React Tutorial - Christian Rich</title>
</head>
<body>

<div id="react-root"></div>
<script src="/js/client.min.js"></script>
</body>
</html>

